<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0'>

        <meta property='og:url' content='http://christmaspresentlist.com'>
        <meta property='og:type' content='website'>
        <meta property='og:title' content='Christmas Present List'>
        <meta property='og:description' content='Make lists of christmas presents you want'>
        <meta property='og:image' content='http://christmaspresentlist.com/static/img/brand.png'>

        <title>Christmas Present List</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">

        <!--STYLEBLOCK(style)-->
        <link rel='stylesheet' href='/static/css/style.css'>
        <link rel='stylesheet' href='/static/css/toastr.css'>
        <!--ENDSTYLEBLOCK(style)-->

        <!--SCRIPTBLOCK(all)-->

        <!-- JQuery -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js'></script>

        <!-- Bootstrap -->
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js'></script>

        <!-- Toastr -->
        <script src='/static/js/toastr.js'></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js'></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>

        <!-- Moment -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>

        <!-- Q -->
        <script src='/static/js/Q.js'></script>

        <!-- Facebook -->
        <script src='/static/js/fb.js'></script>

        <!-- My stuff -->
        <script src='/static/js/polyfill.js'></script>
        <script src='/static/js/MainApp.js'></script>
        <script src='/static/js/Util.js'></script>
        <script src='/static/js/Status.js'></script>
        <script src='/static/js/Ajax.js'></script>
        <script src='/static/js/Dialog.js'></script>
        <script src='/static/js/User.js'></script>
        <script src='/static/js/Routes.js'></script>
        <script src='/static/js/Highlighter.js'></script>
        <script src='/static/js/MainController.js'></script>
        <script src='/static/js/HelpController.js'></script>
        <script src='/static/js/HomeController.js'></script>
        <script src='/static/js/ListsController.js'></script>
        <script src='/static/js/EditorController.js'></script>
        <script src='/static/js/ViewController.js'></script>
        <script src='/static/js/ViewerController.js'></script>
        <script src='/static/js/ShopController.js'></script>
        <script src='/static/js/ShareController.js'></script>
        <script src='/static/js/ShowPicController.js'></script>
        <script src='/static/js/ModalInstanceControllers.js'></script>

        <!--ENDSCRIPTBLOCK(all)-->

        <base href='/'>
    </head>
    <body ng-app='mainApp' ng-controller='MainController' ng-strict-di>

        <!-- backdrop -->
        <div class='backdropper'>
        </div>

        <div ng-cloak>

            <!-- main -->
            <div id='mainview' ng-view>
            </div>

        </div>

        <!-- header -->
        <div id='mainheader'>
            <nav class="navbar navbar-default" role="navigation" style='z-index:1000'>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbarInfo"> <span class="sr-only"> Toggle navigation </span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/lists"><img width='50' height='50' src='/static/img/brand.png'/></a>
                        <span class='phone-only page-banner'>{{bannerText}}</span>
                    </div>
                    <!-- Begin Navbar items -->
                <div class="collapse navbar-collapse" id="mainNavbarInfo">
                        <ul class="nav navbar-nav">
                            <li id='navlists'><a href="/lists"><span class="fa fa-list"></span> My Lists</a></li>
                            <li id='navview'><a href='/view'><span class="fa fa-tag"></span> Shared with me</a></li>
                            <li id='navshop'><a href='/shop'><span class="fa fa-shopping-basket"></span> Shopping</a></li>
                        </ul>
                        <ul class='nav navbar-nav navbar-right'>
                            <li>
                                <form class='navbar-form navbar-right nomargin'>
                                    <div class='form-group'>
                                        <span ng-show='showProfileButton' class='navbar-text'>{{usernameMessage}}</span>
                                        <span class='dropdown'>
                                            <button class='btn btn-sm btn-primary navbar-btn' ng-show='showProfileButton' data-toggle='dropdown'><i class='fa fa-reorder fa-lg'></i></button>
                                            <ul class='dropdown-menu'>
                                                <li><a href='#' ng-click='editProfile()'>Account</a></li>
                                                <li class='nav-divider'></li>
                                                <li><a href='#' ng-click='toggleLogin()'>Sign Out</a></li>
                                            </ul>
                                        </span>
                                        <button ng-show='!showProfileButton' type="button" class="btn btn-sm navbar-btn btn-sm btn-primary" ng-click='toggleLogin()'>{{signInMessage}}</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>