<div class="modal-header">
    <button type="button" class="close" ng-click='cancel()'><span>&times;</span></button>
    <h4 class="modal-title">{{options.banner}}</h4>
</div>
<form name="inputForm">
    <div class="modal-body">
        <p>
            {{options.text}}
        </p>
        <label class='control-label' for='input'>{{options.inputLabel}}</label>
        <div class='form-group' ng-show='options.inputRequired' >
            <input type="{{options.inputType}}" id='input' placeholder='{{options.inputPlaceholder}}' name='input' class='form-control' ng-model='options.inputText' autofocus />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn {{options.okclass}}" type="submit" ng-click="ok()">{{options.oktext}}</button>
        <button class="btn {{options.cancelclass}}" type="button" ng-click="cancel()">{{options.canceltext}}</button>
    </div>
</form>
