<!-- EDIT A LIST -->

<div class='maincontainer'>
    <div class="gameslist cloakable">
        <div class='container-fluid inset'>
            <div class='banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class='row header-row' ng-cloak ng-hide='refreshing'>
                <div class='col-sm-8 banner' ng-show='details'>
                    <div class='row' ng-show='details'>
                        <div class='col-sm-12'>
                            <div class='game-title'>{{details.list_name}}</div>
                            <div class='game-instructions'>{{details.list_description}}</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4 text-right oneline'>
                    <button ng-click='delete()' type='button' class='btn-sm btn btn-danger btn-spacer'>Delete</button>
                    <button ng-click='edit()' type='button' class='btn-sm btn btn-info btn-spacer'>Rename</button>
                    <button ng-click='share()' type='button' class='btn-sm btn btn-primary'>Share</button>
                </div>
            </div>

            <div class='row gameLink list-main'
                    ng-hide='refreshing'
                    ng-repeat='p in list' 
                    ng-mouseup='unclicked($index)'
                    ng-click='toggle($event, p)'
                    ios-dblclick='editItDialog($event, p)'>
                <div class="col-sm-12">
                    <span class='present-pic'>
                        <a ng-click='showPic($event, p);' href='' class='piclink'>
                            <img class='small-thumbnail' ng-src='{{p.present_haspic ? "thumbnails/" + p.present_id : "static/img/gift.png"}}' width='48' height='48'>
                        </a>
                    </span>
                    <span class="game-title text-top present-text">
                        <i class='fa fa-lg fa-caret-right animate-rotate' ng-class='{"fa-rotate-90":p.active}'></i>&nbsp;
                        {{p.present_name}}
                        <span class="game-instructions">
                            {{p.present_description}}
                        </span>
                    </span>
                </div>
                <div class='collapse' id='{{"present" + p.present_id}}'>
                    <form name='{{"editPresent"+p.present_id}}' ng-click='nope($event, p)'>
                        <div class='row'>
                            <div class='col-sm-offset-1 col-sm-1'>
                                <label for='presentName'>Present</label>
                            </div>
                            <div class='col-sm-8'>
                                <input name='presentName' type='text' ng-model='p.present_name' class='form-control' required/>
                                <span class='present-buttons'>
                                    <button type='button' ng-click="editItDialog($event, p)" class='btn btn-xs btn-primary bottom-10'>Edit</button>
                                    <button type='button' ng-click="remove($event, p)" class='btn btn-xs btn-primary bottom-10'>Delete</button>
                                </span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-offset-1 col-sm-1'>
                                <label for='presentDescription'>Description</label>
                            </div>
                            <div class='col-sm-8'>
                                <input name='presentDescription' type='text' ng-model='p.present_description' size='70'/>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-offset-1 col-sm-1'>
                                <label for='presentLink'>Link</label>
                            </div>
                            <div class='col-sm-8'>
                                <input name='presentLink' type='text' ng-model='p.present_link' size='100'/>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-offset-1 col-sm-1'>
                                <label for='presentPic'>Picture</label>
                            </div>
                            <div class='col-sm-8'>
                                <input name='presentPic'
                                        id='{{"choosePhoto" + p.present_id}}'
                                        type='file' app-filereader ng-model='p.present_pic'
                                        accept='image/*'
                                        capture='camera' class='image-chooser'/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class='row gameLink present-main'
                    ng-hide='refreshing'
                    ng-click='addPresent($event)'
                    ng-mouseup='unclicked($index)'>
                <div class='col-sm-12'>
                    <span class='game-title'>
                        <i class='fa fa-plus-circle fa-2x fa-middle'></i>
                        <span class='text-top'>
                            Add present
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
