<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title">{{details.msg}}</h4>
</div>
    <form name="listForm" ng-submit='handleList()' novalidate>
    <div class="modal-body">
        <!-- username -->
        <div class='form-group' ng-class="{'has-error': listForm.list_name.$invalid && !listForm.list_name.$pristine }">
            <label for='list_name'>Name</label>
            <span ng-cloak ng-show='listForm.list_name.$invalid'
                    class='help-block inline'> - required</span>
            <input type='text'
                    name="list_name"
                    id='list_name'
                    class='form-control'
                    required
                    minlength='1'
                    maxlength='200'
                    ng-model='details.list_name'/>
        </div>

        <!-- description -->
        <div class='form-group'>
            <label for='list_description'>Description</label>
            <input type='text'
                    name="list_description"
                    id='list_description'
                    class='form-control'
                    maxlength='240'
                    ng-model='details.list_description'/>
        </div>

        <!-- public -->
        <div class='form-group'>
            <div class='checkbox checkbox-circle inset'>
                <input id='list_public' type='checkbox' ng-model='details.list_public' />
                <label for='list_public'>Make it public?</label>
            </div>
        </div>

        <!-- error message -->
        <div class='statusError' ng-show='details.failed'>{{details.errormessage}}</div>
    </div>
    <div class="modal-footer">
        <span ng-show='saveInProgress'><i id='spinner' class='netspin pull-left fa fa-spinner fa-pulse'></i>&nbsp;</span>
        <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="listForm.$invalid || saveInProgress">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-disabled='saveInProgress'>Cancel</button
    </div>
</form>
