<!-- SHOW ALL THE LISTS -->

<div class='maincontainer'>
    <div class="gameslist cloakable">
        <div class='container-fluid inset'>
            <div class='banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class='message' ng-show='notloggedin'>
                <button class='btn btn-sm btn-success' ng-click='login()'>Sign in or register</button> to create a list
            </div>
            <div ng-repeat='l in lists'
                    ng-hide='refreshing'
                    class='row gameLink list-main'
                    ng-click='popItUp($event, l.list_id)'
                    ng-mouseup='unclicked($index)'>
                <div class='col-md-12'>
                    <span class="game-title">
                        <i class='fa fa-dot-circle-o fa-2x fa-middle'></i>
                        <span class='text-top'>
                            {{l.list_name}}
                            <span class='list-description'>
                                {{l.list_description}}
                            </span>
                        </span>
                    </span>
                    <span class='pull-right'>
                        {{moment((l.list_lastsaved)).fromNow()}}
                    </span>
                </div>
            </div>
            <div class='row gameLink list-main'
                    id='newlistbutton'
                    ng-hide='refreshing || notloggedin'
                    ng-click='newlist()'
                    data-toggle='popover'
                    ng-mouseup='unclicked($index)'>
                <div class='col-sm-12'>
                    <span class='game-title'>
                        <i class='fa fa-plus-circle fa-2x fa-middle'></i>
                        <span class='text-top'>
                            New list
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
