<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title">{{details.msg}}</h4>
</div>
    <form name="presentForm" ng-submit='handlePresent()' novalidate>
    <div class="modal-body">
        <!-- username -->
        <div class='form-group' ng-class="{'has-error': presentForm.present_name.$invalid && !presentForm.present_name.$pristine }">
            <label for='present_name'>Present</label>
            <span ng-cloak ng-show='presentForm.present_name.$invalid'
                    class='help-block inline'> - required</span>
            <input type='text'
                    name="present_name"
                    id='present_name'
                    class='form-control'
                    required
                    minlength='1'
                    maxlength='200'
                    ng-model='details.present_name'/>
        </div>

        <!-- description -->
        <div class='form-group'>
            <label for='present_description'>Description</label>
            <input type='text'
                    name="present_description"
                    id='present_description'
                    class='form-control'
                    maxlength='240'
                    ng-model='details.present_description'/>
        </div>

        <!-- URL -->
        <div class='form-group'>
            <label for='present_link'>Link</label>
            <input type='text'
                    name="present_link"
                    id='present_link'
                    class='form-control'
                    maxlength='2048'
                    ng-model='details.present_link'/>
        </div>

        <div class='form-group'>
            <label for='pic'>Picture</label>
            <input id='choosePhoto'
                    type='file'
                    accept='image/*'
                    name='pic'
                    capture='camera'
                    class='image-chooser'
                    ng-show='noPhoto()'
                    app-filereader ng-model='details.present_pic'>
            <div>
                <i name='pic' class='fa fa-times-circle fa-3x red' ng-hide='noPhoto()' ng-click='clearPhoto()'></i>
                <div class='image-main'>
                    <img id='presentpicthumbnail' width='90' height='90' class='thumbnail' ng-src='{{pic()}}' />
                </div>
            </div>
        </div>

        <!-- error message -->
        <div class='statusError' ng-show='details.failed'>{{details.errormessage}}</div>
    </div>
    <div class="modal-footer">
        <span ng-show='saveInProgress'><i id='spinner' class='netspin pull-left fa fa-spinner fa-pulse'></i>&nbsp;</span>
        <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="presentForm.$invalid || saveInProgress">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-disabled='saveInProgress'>Cancel</button
    </div>
</form>
