<!-- SHARE A LIST -->

<div class='maincontainer'>
    <div class='gameslist' ng-cloak>
        <div class='container-fluid inset'>
            <div class='banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class='row header-row' ng-cloak ng-hide='refreshing'>
                <div class='col-sm-7 banner'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='game-title'>Share {{list_name}}</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-5 text-right oneline'>
                    <button ng-click='cancel()' type='button' class='btn-sm btn btn-danger btn-spacer'>Cancel</button>
                    <button ng-click='done()' type='button' class='btn-sm btn btn-success'>Done</button>
                </div>
            </div>
            <div ng-hide='refreshing' class='row gameLink list-main'
                    ng-repeat='share in activeShares()'>
                <div class="col-sm-12">
                    <span class='game-title'>
                        <span>
                            <i ng-click='deleteShare(share)' class='gameLink fa fa-times-circle fa-2x fa-middle red'></i>
                        </span>
                        <span>
                            <span class='text-top'>{{username(share)}}{{share.user_email}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class='row gameLink present-main'
                    ng-hide='refreshing'
                    ng-mouseup='unclicked($index)'>
                <div class='col-sm-12'>
                    <span class='game-title' ng-show='!adding'>
                        <span>
                            <i ng-click='addShare()' class='gameLink fa fa-plus-circle fa-2x fa-middle green'></i>
                        </span>
                        <span>
                            <span class='text-top'>Share with...</span>
                        </span>
                    </span>
                    <span ng-show='adding' class='game-title'>
                        <form name='email' class='inline-form'>
                            <i ng-click='added(email)' class='gameLink fa fa-check-circle fa-2x fa-middle' ng-class='{ green: email.$valid, gray: !email.$valid}'></i>
                            <input name='shareEmail' ng-keypress='pressed($event, email)' ng-model='shareEmail' id='shareEmail' required type='email' class='text-top' placeholder='someone@email.com'>
                            <button ng-click='cancelEntry()' type='button' class='btn-sm btn btn-danger btn-spacer'>Cancel</button>
                        </form>
                    </span>
                </div>
            </div>
         </div>
    </div>
</div>
