<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title">{{details.msg}}</h4>
</div>
    <form name="shareForm" ng-submit='handleShare()' novalidate>
    <div class="modal-body">
        <div class='form-group' ng-class="{'has-error': shareForm.email.$invalid && !shareForm.email.$pristine }">
            <label for='email'>Email</label>
            <input type='email' name="email" id='shareEmail' class='form-control' ng-model='details.email' required />
            <p ng-show='shareForm.email.$invalid && !shareForm.email.$pristine' class='help-block'>Please enter a valid email</p>
        </div>
        <div class='form-group' ng-class="{'has-error': shareForm.name.$invalid && !shareForm.name.$pristine }">
            <label for='name'>Name</label>
            <input type='text' name="name" id='shareName' class='form-control' ng-model='details.name' minlength='3' required />
            <p ng-show='shareForm.name.$invalid && !shareForm.name.$pristine' class='help-block'>Needs to be 3 characters long</p>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show='shareInProgress'><i id='spinner' class='netspin pull-left fa fa-spinner fa-pulse'></i>&nbsp;</span>
        <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="shareForm.$invalid || shareInProgress">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-disabled='shareInProgress'>Cancel</button
    </div>
</form>
