<!-- VIEW A LIST -->

<div class='maincontainer'>
    <div class='gameslist' ng-cloak>
        <div class='container-fluid inset'>
            <div class='row header-row'>
                <div class='banner col-sm-12'>
                    <span class='game-title' ng-show='!refreshing && list.length === 0'>
                        list is empty...
                    </span>
                    <span class='pull-right'>
                        <button ng-click='refreshList()' type='button' class='btn btn-sm btn-danger'>Refresh</button>
                    </span>
                </div>
            </div>
            <div class='banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div ng-repeat='p in list'
                class='gameLink present-main row'
                ng-click='viewIt($event, p)'
                ng-hide='refreshing'
                ng-mouseup='unclicked($index)'>

                <div class="col-sm-12" ng-click='toggle($event, p)'>
                    <span class='present-pic'>
                        <a ng-click='showPic($event, p);' href='' class='piclink'>
                            <img class='small-thumbnail' ng-src='{{p.present_haspic ? "thumbnails/" + p.present_id : "static/img/gift.png"}}' width='48' height='48'>
                        </a>
                    </span>
                    <span class="game-title text-top present-text">
                        {{p.user_username}} - {{p.present_name}}
                        <span class="game-instructions">
                            {{p.present_description}}
                        </span>
                        <span class='present-buttons' ng-show='p.active'>
                            <button type='button' ng-click="editItDialog($event, p)" class='btn btn-sm btn-primary bottom-10'>Edit</button>
                            <button type='button' ng-click="remove($event, p)" class='btn btn-sm btn-primary bottom-10'>Delete</button>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
