<!-- EDIT A LIST -->

<div class='maincontainer'>
    <div class="gameslist cloakable">
        <div class='container-fluid inset'>
            <div class='bigpic-container'>
                <img id='picshow' ng-src="{{'pics/' + present_id}}" class='bigpic' ng-click='goback()'>
            </div>
            <div class='bigpic-controls' ng-click='goback()'>
                <i class='fa fa-lg fa-times closer'></i>
            </div>
        </div>
    </div>
</div>
