<!-- SHOW THE LISTS SHARED WITH ME -->

<div class='maincontainer'>
    <div class="gameslist" ng-cloak>
        <div class='container-fluid inset'>
            <div class='banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class='banner' ng-show='!refreshing && lists.length === 0'>
                Nobody is sharing any lists with you...
            </div>
            <div ng-repeat='l in lists'
                    ng-click='viewIt($event, l.list_id)'
                    ng-hide='refreshing'
                    ng-mouseup='unclicked($index)'
                    class='row gameLink list-main'
                    id='game_{{$index}}'>
                <div class='col-sm-12'>
                    <span class="game-title">
                        <i class='fa fa-caret-square-o-right fa-2x fa-middle'></i>
                        <span class='text-top'>
                            {{l.owner_name}}:
                            {{l.list_name}}
                            <span class="game-instructions">
                                {{l.list_description}}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
