<!-- VIEW A LIST -->

<div class='maincontainer'>
    <div class="gameslist cloakable">
        <div class='container-fluid inset'>
            <div class='col-sm-12 banner refreshing' ng-show='refreshing'>
                <i id="spinner" class="fa fa-spinner fa-pulse"></i>
            </div>
            <div class='row header-row' ng-cloak ng-hide='refreshing'>
                <div class='col-sm-12 banner' ng-show='details'>
                    <span class='game-title'>{{details.user_username}}</span>
                    <span class='game-instructions'>{{details.list_name}}</span>
                    <span class='pull-right'>
                        <button ng-click='refreshList()' type='button' class='btn btn-sm btn-danger'>Refresh</button>
                    </span>
                </div>
            </div>

            <div ng-repeat='a in areas' ng-hide='refreshing'>
                <div class='banner'
                    ng-hide='refreshing || a.list().length === 0'>
                    {{a.banner}}
                </div>
                <div ng-repeat='p in a.list()'
                        ng-class="['row', 'list-main', {'gameLink': a.buttonText !== null, 'active': p.active }]">

<!--                     <div ng-class="{'col-sm-10': p.active, 'col-sm-12': !p.active}">
                        <span class="game-title">
                            <i class='fa fa-gift fa-2x fa-middle'></i>
                            <span class='text-top'>
                                {{p.present_name}}
                                <span class="game-instructions">
                                    {{p.present_description}}
                                </span>
                            </span>
                        </span>
                    </div>
                    <div ng-show='a.buttonText' ng-class="{'col-sm-2': p.active && a.buttonText !== null, 'text-right': p.active, 'masked': !p.active }" >
                        <button type='button' ng-click="a.buttonFunction($event, p)" class='btn btn-sm btn-primary'>{{a.buttonText}}</button>
                    </div>

 -->                    <div class="col-sm-12" ng-click='toggle($event, p)'>
                        <span class='present-pic'>
                            <a ng-click='showPic($event, p);' href='' class='piclink'>
                                <img class='small-thumbnail' ng-src='{{p.present_haspic ? "thumbnails/" + p.present_id : "static/img/gift.png"}}' width='48' height='48'>
                            </a>
                        </span>
                        <span class="game-title text-top present-text">
                            {{p.present_name}}
                            <span class="game-instructions">
                                {{p.present_description}}
                            </span>
                            <span class='present-buttons' ng-show='p.active && a.buttonText !== null'>
                                <button type='button' ng-click="a.buttonFunction($event, p)" class='btn btn-sm btn-primary'>{{a.buttonText}}</button>
                            </span>
                        </span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
